a {
    color: #0000ee;
}

html,
body {
    margin: 0;
    max-width: 100vw;
}

nav {
    margin: 1rem 0;
}

hr {
    margin: 1.5rem 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 1rem 0;
}

main {
    margin: 0 1rem;
    padding: 1rem 0 2rem;

    @media (min-width: 481px) {
        max-width: 660px;
        margin-left: 3rem;
    }
}

section {
    margin: 1rem 0;

    &:first-of-type {
        margin-top: 0;
    }
}

.profile {
    width: 55%;
    max-width: 300px;
    border: 2px solid lightgray;
    margin: 1rem 0;
}

.work-item {
    margin-bottom: 1rem;
    & p {
        &:first-of-type {
            margin-top: 0rem;
        }
    }
}

.experience-item {
    margin: 0 0 1rem;

    & p {
        &:first-of-type {
            margin-top: 0rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.home {
    display: block;
    margin-bottom: 1rem;
}

.no-margin {
    margin: 0;
}

.details {
    margin-bottom: 1rem;
}

.no-underline {
    text-decoration: none;
}

sup {
    line-height: 0;

    /* The following rules (or similar) likely come from browser 
     * style and are not needed
     */
    font-size: 0.83em;
    vertical-align: super;
}

blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 4px solid #ccc;
    background-color: #f9f9f9;
    font-style: italic;
}

code {
    color: darkgreen;
}

.underline {
    text-decoration: underline;
}

.zoomable-image {
    transform: scale(2);
}
